<div id="body">
    <div id="instrument_panel">
        <!--
        Інструменти:
        <br />
        <input type="button" value='Додати вершини' onclick='changeNodeMode("addNode")' />
        <input type="button" value='Видалити вершини' onclick='changeNodeMode("rmNode")' />
        <input type="button" value='Рухати вершини' onclick='MovePoint();' />
        <input type="button" value='Інфа про вершини (в консоль)' onclick='seeNodes()' />
        -->
    </div>
    <div id="workZone" style="border: 1px solid black">
    </div>
</div>
